<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verified Document System</title>
</head>
<body>

    <h1>Verified Document System</h1>

    <h2>Upload Document</h2>

    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file" name="document" required>

        <br><br>

        <button type="submit">Upload Document</button>

    </form>

    <hr>

    <h2>Verify Document</h2>

    <form action="/verify" method="POST" enctype="multipart/form-data">

        <label>Document ID:</label>
        <br>

        <input
            type="text"
            name="document_id"
            placeholder="Example: DOC-A1B2C3D4"
            required
        >

        <br><br>

        <label>Select Document:</label>
        <br>

        <input type="file" name="document" required>

        <br><br>

        <button type="submit">Verify Document</button>

    </form>

    <hr>

    <h2>Authority Approval</h2>

    <form action="/approve" method="POST">

        <label>Document ID:</label>
        <br>

        <input
            type="text"
            name="document_id"
            placeholder="Enter Document ID"
            required
        >

        <br><br>

        <button type="submit">Approve Document</button>

    </form>

    <br>

    <form action="/reject" method="POST">

        <input
            type="text"
            name="document_id"
            placeholder="Enter Document ID"
            required
        >

        <br><br>

        <button type="submit">Reject Document</button>

    </form>

</body>
</html>